.weather-cards-container {
    background-color: hsl(0, 0%, 93%);
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -5px -5px 5px rgba(255, 255, 255, 0.6);
    justify-self: center;
}